<h1 id="the-blackened-phoenix">The Blackened Phoenix</h1>
<p>Part Two of <em>Starbreaker</em><br />by Matthew Graybosch</p>
<h2 id="disclaimer">Disclaimer</h2>
<p>The following is a work of fiction. Any resemblance or similarities between the characters in this novel to living or dead persons in this world or any parallel world within the known multiverse is either a coincidence; an allusion to real, alternate, invented, or occult history; or a parody. If you find any allegory or applicability, please consult a qualified professional for psychiatric evaluation and treatment.</p>
<h2 id="dedication">Dedication</h2>
<p>For my wife, Catherine Gatt, because without her might be stuck dedicating this book to my cat.</p>
<h2 id="chapter-zero">Chapter Zero</h2>
<p>Intermission</p>
<blockquote>
<p>I can't believe Isaac considered hiring that fat trollop. It's bad enough Morgan is willing to have her as a friend. She's loud, she's obnoxious, she can't take <em>anything</em> seriously, and she makes no bones about willing to do for Morgan everything a sensible woman should consider to be beneath her. But why would Isaac want her on his payroll? Surely there are other equally capable technicians without all her personality flaws and filthy habits.</p>
</blockquote>
<blockquote>
<p>...from the diary of Christabel Crowley, 1 May 2108</p>
</blockquote>
<p>Hi there! If you're reading this, you either read <em>Without Bloodshed</em> already and want to see what happens next, or this is your first <em>Starbreaker</em> book and you don't know what the bloody hell is going on. If you're a returning fan, stick around anyway for a quick refresher. If you're a <em>Starbreaker</em> virgin, I'll be as gentle as you want me to be.</p>
<p>What? Who am I? I'm Claire Ashecroft, the <em>real</em> hero. You know what Morgan Stormrider and Naomi Bradleigh would have accomplished without me? Jack and shit, and Jack just buggered off to the pub. Let me tell you what <em>really</em> happened.</p>
<p>First, some white-haired prettyboy murdered former Crowley's Thoth violinist Christabel Crowley, which I thought was excessive even though I hated the skinny bitch. Then that gun-running wanker Alexander Liebenthal took over Boston with help from ex-Adversary Munakata Tetsuo and the Fireclowns MC. Meanwhile, Morgan Stormrider's off to Tokyo because Nakajima Chihiro wanted him to investigate the theft of designs for some kind of electrical devil-killer rifle.</p>
<p>In the meantime, I busted my heart-shaped ass trying to help Naomi Bradleigh when I could have been enjoying a cuddle sandwich with a couple of strapping young lads I picked up on a pub crawl the night before. Turns out a dirty cop with a grudge against Morgan thought he could get some payback by sticking Nims in a Faraday cage and bullying her into copping to Christabel's murder. I disabled the Faraday cage and helped Naomi keep calm until Morgan could get to London with Eddie Cohen and Sid Schneider and bust her out.</p>
<p>With the whole motley crew together, we went to Boston to kick Alexander Liebenthal's cancer-ridden ass. At least, that was the plan until Morgan told us he's got orders to do the job without killing everybody. I still don't know why we couldn't have just whacked Liebenthal, other than that the Phoenix Society doesn't pay Morgan to cater to every schmuck who tries suicide-by-cop because they're too stupid to understand that suicide is a DIY job.</p>
<p>First, we had to hook up with the last of the Boston chapter's Adversaries, led by Sarah Kohlrynn. Then we had to get the Fireclowns out of the way. After that, Liebenthal got his hands on a shitload of money and hired a bigger army. Between that and the inability of a certain white-haired bishounen named Imaginos and his girlfriends to mind their own demon-ridden business, a job that should have taken a couple of hours took most of a bloody week and resulted in Morgan, Naomi, Eddie, and Sarah getting hospitalized.</p>
<p>They got better, though I hear Morgan had to go through some kind of surgical marathon with some wizard of a doctor named Desdinova. I don't trust that guy, 'cos wizards who wear gray never tell the whole story. Fortunately, Morgan's a sensible bloke and doesn't trust him, either.</p>
<p>I didn't get to be there, but at the end, Morgan and Naomi cornered Imaginos at Christabel's funeral. We know he's using the Phoenix Society for his own nasty little agenda, but we can't anything yet. But don't worry. We're going to fix that. Morgan's on his way to get a search warrant that will let him turn Murdoch Defense Industries upside down, which will prove that Murdoch made the devil-killer rifles Liebenthal sold.</p>
<p>He's also learned that his ex Christabel was a two-timing harpy who didn't even come close to deserving him. You'll see. Me, I hope she isn't actually dead, and that Morgan finds her. That ought to be guaranteed comedy gold.</p>
<p>Get yourself a case of beer and some snacks. I'll tell you all about it, but it'll take a while. Get comfortable, and tell me when you're ready.</p>
<h2 id="chapter-one">Chapter One</h2>
<p>When You Don't See Me</p>
<blockquote>
<p>I doubt Morgan will ever read these diaries of mine, but why should I be afraid if he did? He's just an android. I can't break a heart that isn't there. I can't hurt feelings he's never shown any evidence of having.</p>
</blockquote>
<blockquote>
<p>He's just a machine, just an appliance who talks too much and happens to be a decent guitarist and songwriter. That he has proven admirably well-suited to the tasks I set him is irrelevant. Even good machines are replaceable.</p>
</blockquote>
<blockquote>
<p>...from the diary of Christabel Crowley, 3 January 2106</p>
</blockquote>
<p><strong>London, 3:14AM on 14 February 2113</strong></p>
<p>Morgan Stormrider stared at the evidence arrayed before him, but refused to reach the only conclusion possible. Twelve years of diaries sat in stacks on the polished oak table in what had been his ex-girlfriend Christabel Crowley's dining room. With them sat twelve years of letters and printed emails. Many of these Christabel wrote to the same recipient, the lover she never admitted to Morgan even after they had broken up while trying to keep Crowley's Thoth functioning well enough to record one last album and do one last world tour.</p>
<p>Were Christabel still alive, she might have upbraided Morgan for daring to clutter her table with books, papers, and photographs gathered from MEPOL's evidence control department after a week of effort culminating in Morgan cornering the inspector responsible for the case, displaying his letter of marque authorizing him to investigate Crowley's murder, and threatening to arrest the inspector on an obstruction charge.</p>
<p>In the middle of the table, flanked by stacked books and papers, lay the photos of the scene. A charred human body lay on a polished hardwood floor that by some malignant miracle escaped being scorched. DNA taken from the victim's glossy chestnut hair, which fell in waves Morgan had brushed hundreds of times in hundreds of dressing rooms, proved the victim's identity.</p>
<p>Though he lacked evidence, Morgan already had a name for Christabel's murderer. It was that of the lover she flaunted the day after Morgan finally abandoned any hope of making it work with her. It was same name as the man to whom she wrote all those letters and emails.</p>
<p><em>Maybe the bitch had it coming.</em> It was a hateful thought, and an unworthy one. It was the conclusion he had spent the night fighting, but he was too weary to rationalize his way around it. Regardless, pride and principle drive him to rebel against the notion. <em>No. It doesn't matter that Christabel was fucking Magnin behind my back. It doesn't matter that she thought I was nothing but a machine, and begged Magnin to let her stop playing Mata Hari with me. She didn't deserve this. Nobody does.</em></p>
<p>&quot;There you are.&quot; A woman's arch tone pulled Morgan from his thoughts. He turned in his chair, and found Naomi Bradleigh studying him. Her snowy hair spilled over one shoulder as she held the old wool cardigan he gave her as a Winter Solstice gift close to ward off the chill. Though still disheveled from bed, she wore her sword. &quot;I should have realized you were up to something when you tucked me in and told me you weren't ready to sleep.&quot;</p>
<p>Morgan hadn't been ready to sleep; that much had been true. He just never explained why. &quot;Sorry, Naomi. This evidence has nagged at me all day.&quot;</p>
<p>&quot;That's why I suggested that we all go through it together. You, me, Sid, Eddie, and Claire. This isn't something anybody should read alone.&quot;</p>
<p>&quot;I agreed it made sense at the time, but Sid and Eddie got a complaint about unpaid overtime at Murdoch Armaments, and Claire had to attend the Allthing and report on Boston. I thought waiting would be worse than just facing this on my own.&quot;</p>
<p>Naomi began to massage his shoulders as he put away the manila folder containing the crime scene photos so she wouldn't have to view them right away. &quot;How bad was it?&quot;</p>
<p>&quot;I never really knew Christabel.&quot; His voice had become small, and soft, and he hated himself for that. &quot;The person I thought of as Christabel, the person I held close and tried to love - she didn't exist unless I was around to see her. Whenever I left, that person disappeared.&quot;</p>
<p>Her lips were warm as she drew him into her arms and kissed the crown of his head. &quot;You're tired and upset. Let's go to bed. We can make sense of this in the morning.&quot;</p>
<p><strong>London, 1:10PM on 15 February 2113</strong></p>
<p>It wasn't until early afternoon that Morgan returned to Christabel's former home with Naomi. Mordred came with them, a longhaired tuxedo cat who frequently forgot he was as big as a cougar when greeting his people. He sniffed around as he set foot in Christabel's house for the first time since Morgan and Christabel broke up.</p>
<p>Morgan lingered as Naomi sat at the table and began poring over the diaries, half-expecting her to hold him to their agreement by obliging him to face his ex's hateful words again. Instead, she looked up from the oldest diary. &quot;Have you searched the house for evidence yet? MEPOL might have missed something, since Thistlewood was convinced of my guilt.&quot;</p>
<p>&quot;You think he cut corners because he figured you'd confess?&quot; Nobody in the Phoenix Society would tolerate such sloppy detective work on an Adversary's part, but Morgan suspected that MEPOL's standards were less stringent. <em>They</em> did <em>put Thistlewood on the payroll in the first place.</em></p>
<p>Naomi turned a page before giving Mordred a quick scratch behind the ears. &quot;That, and I tend not to think well of MEPOL in general.&quot;</p>
<p>&quot;I don't blame you.&quot; After the Liebenthal job, Morgan finally felt free to tell Naomi about his life as an Adversary, which he had always kept to himself before in order to keep it from leaking into his life as a musician - where it might upset Christabel. Naomi had reciprocated, as if she too had compartmentalized in order to keep the peace. As a result Morgan was well aware of the London chapter's rivalry with the city's Metropolitan Police. &quot;You should ask Sid about the NYPD sometime.&quot;</p>
<p>That got some laughter out of Naomi, which brightened the room. &quot;He told me about Diapers Malone. Did he ever tell you? Even his <em>wife</em> calls him that, poor bastard.&quot;</p>
<p>&quot;I'm surprised that out of all the stories Sid might have told you, you recalled that one.&quot; He kept the rest to himself. <em>The Naomi I knew from Crowley's Thoth might have called that story uncouth. But she isn't that person any longer. And I have no idea what she was like before Crowley's Thoth.</em></p>
<p>Naomi smiled, as if intuiting the path of Morgan's thoughts. &quot;You only ever really knew me in the context of Crowley's Thoth, and I held back around Christabel. Part of it was to try to fade into the background and let her have the spotlight she craved. And the rest was to avoid telling her off, or dragging you into a dressing room and showing you what you were missing by putting up with her.&quot;</p>
<p>Mordred opened the refrigerator door, and retrieved <strong>what remained of a </strong> six-pack of beer. Two remained tied together by loops of woven hemp, which Mordred brought to Morgan. The cat sat on his haunches and purred as Morgan accepted the beers, and examined the label. &quot;Tuatha Stout? I thought Christabel favored dry white wines.&quot;</p>
<p>&quot;She did. God help you if you gave her the cheap shit.&quot; Naomi took one of the beers, cracked it open, and took a long drink. &quot;I bought this for the detectives a couple of weeks ago when they told me they were coming back to do a proper job of things. A bit heavy for my liking, almost like a meal in a can.&quot;</p>
<p>Morgan opened his and had a taste. &quot;This reminds me of 'Roadhouse Blues'. Remember the last time we covered that?&quot;</p>
<p>&quot;How could I forget?&quot; Naomi leaned back in her chair, her head tilting to gaze up at Morgan as her hair spilled almost to the floor. &quot;Christabel was absolutely livid because I was dancing across the stage while you were jamming, but the crowd ate it up and begged for more.&quot;</p>
<p>&quot;It wasn't just the crowd eating it up.&quot; Morgan tipped his can to salute her as he recalled Naomi's grace that night.</p>
<p>&quot;Why do you think Christabel was so thoroughly miffed?&quot; Naomi took one last sip and set her beer aside. &quot;You liked what you saw, I <em>wanted</em> you to enjoy it, and she bloody well knew it. Frankly, my dear, I'm glad Her Majesty is out of our lives.&quot;</p>
<p><em>What would you say if I told you how glad I am that Christabel is dead?</em> Rather than voice such thoughts, Morgan kept his focus on Naomi. &quot;You seem happier now, and freer. Will you be all right down here?&quot;</p>
<p>&quot;I'll shout if I need you. Go poke around, and see if MEPOL missed anything.&quot;</p>
<hr />
<p>Morgan stole a kiss before leaving, and began with the living room. Despite its name, it barely seem lived in. The furniture showed little sign of wear. Christabel had been so obsessive about cleanliness that she must have left instructions for her estate to keep paying people to come in and clean, for Morgan couldn't find a speck of dust anywhere. Even the books Morgan had given her as presents over the years seemed untouched.</p>
<p>He examined the books in detail, and realized that the vast majority of the volumes had not been gifts from <em>him</em>. Only <em>his</em> books remained untouched. Instead, the bindings were worn from repeated readings. In each book, Morgan found the same inscription: &quot;With continuing affection, Isaac Magnin&quot;.</p>
<p>Worse, the books all shared a common theme. Romantic novels and poetry, books on music theory, art books - these had been the sort of books Morgan had tried giving Christabel, only to be told in no uncertain terms that she did not have time to read such things. In addition, the hardcover books that gave Christabel's bookcase that all-important veneer of respectability hid a cache of paperback romance novels.</p>
<p>Morgan considered ignoring the paperbacks. Christabel wasn't the first to claim lofty tastes in public while baser fare in private. However, the books' covers seemed to share a common theme. Taking them from their hiding place, Morgan found ten paperbacks whose covers all depicted a slim brunette in evening wear being seduced by a middle-aged gentleman in a white suit with blue eyes and frosty hair bound into a tail.</p>
<p>[Astarte, are you there?] Morgan used his implant to contact his household AI back in New York. It wasn't his favorite way to interact with Astarte, or hers, but the wallscreens in Christabel's house didn't seem to work.</p>
<p>The reply was immediate. [I'm always here for you. How are you doing over there? Nims told me you read Christabel's diary.]</p>
<p>[Yeah. I'll tell you about it after I've sorted out my feelings. I'm going to send you a list of titles published by an imprint called Decadence Press between 2101 and 2111. I'd like to know how large a print run they had.]</p>
<p>[Just a minute.] Astarte continued in less than half that. [Decadence Press is a publicly traded press specializing in erotic romance, but their catalog doesn't mention <em>any</em> of the titles in your list. I pulled their financial statements off the Asgard Stock Exchange. A substantial portion of their annual revenue for the time period in question came from private commissions. Expenditures include work-for-hire payments to a numbered bank account. Want me to try tracking down its owner?]</p>
<p>[Please.] Morgan gathered the paperbacks and brought them into the kitchen. &quot;Found some new evidence. Ever hear of a romance novelist named Tina Apareth?&quot;</p>
<p>&quot;No.&quot; Naomi took one of the paperbacks and flipped through it for moment before settling on a passage. Her smile broadened until she could no longer contain her laughter. &quot;Holy shit. I can't believe this is what Christabel reads when she hasn't got a man around. You'd think an AI with no personal experience wrote this crap. Just listen.&quot;</p>
<p>Clearing her throat, Naomi began reading aloud. &quot;Isiah's eyes bored into Christine's while he thrusted into her with the regular precision of a high-performance piston in a well-oiled cylinder.&quot; Rolling her eyes, she returned the paperback, <em>Innocence Discovered</em>, to its pile. &quot;The model on the cover resembles Christabel, though.&quot;</p>
<p>Morgan instantly regretted taking a closer look. The heterochromatic eyes were the same, one gray and one orange, as was her expression. Christabel lips had parted in similar fashion whenever he embraced her from behind and kissed her shoulder. He returned the book to the stack face-down. &quot;I'd better search the rest of the house.&quot;</p>
<hr />
<p>Morgan didn't find anything else until he reached Christabel's bedroom. Though as neatly kept as the rest of the house, a ghost of her perfume lingered here in the uncirculated, musty air. This was an undiscovered country for him, despite having been her lover for years, and the fact that he was rampant with lust did not surprise him. <em>It's a power trip. Christabel never wanted me up here, but here I am anyway. Nobody would be able to stop me from doing whatever I wanted here.</em></p>
<p>Shame washed over him as he caught himself composing a message to Naomi inviting her up here to desecrate their former friend's sanctum. He deleted it, and sent a different message instead. [I think I'm going crazy up here in Christabel's bedroom.]</p>
<p>[See something weird?]</p>
<p>[She never allowed me in this room, but now that I'm here I can't stop thinking about getting you up here and doing you until the room doesn't smell like her any longer.]</p>
<p>[It would have been more fun to sneak in here and do that when she was still capable of getting pissy about it, but I don't mind taking a break if you want me up there.]</p>
<p>Rather than accept Naomi's offer, Morgan opened the windows. The room's musky warmth faded as the chill air from outside flowed in. He sniffed the air as he caught a hint of an unfamiliar cologne. <em>Another man has been in here with Christabel. Was it Magnin?</em></p>
<p>&quot;What the hell?&quot; Naomi stood in the doorway, staring at the open windows. &quot;Isn't it a bit early to be airing the house out?&quot;</p>
<p>&quot;Sorry. I couldn't think straight in here. I was actually <em>seeing</em> us together in here.&quot; Morgan refused to describe his vision in greater detail. It was bad enough he had actually done it to Christabel, bending her over the vanity in his dressing room after bruising her lips with furious kisses. It was sufficient to remember that he gathered her hair into his fist and used her as if he were a rutting beast, driving into her with all the passion and fury she repeatedly accused him of lacking.</p>
<p>Naomi's kiss seared his lips after the cold he had introduced into the room. &quot;Did you see me on all fours, offering myself to you? Is that why you're so embarrassed right now? Christabel never believed you capable, but I know better.&quot;</p>
<p>&quot;You read that far already?&quot;</p>
<p>&quot;A bit beyond, actually. It's actually rather repetitive fare, and you can get away with skimming much of it.&quot; Naomi considered the bed in silence a moment before continuing. &quot;But I didn't have to read about what Her Majesty provoked you into doing. I saw it.&quot;</p>
<p>&quot;If you saw me like that, how can you -&quot;</p>
<p>&quot;Easily. Christabel wasn't in pain, and she wasn't demanding that you stop. If you had actually hurt her, or forced yourself upon her, I would have been the first to testify against you.&quot;</p>
<p>Morgan nodded, believing Naomi's words. She had been an Adversary before they first met at Mick's on Broadway, and she still believed in the ideals. He closed the windows, his breathing easier now that the room had been aired out. &quot;Have you ever been close enough to Isaac Magnin to notice if he wore cologne?&quot;</p>
<p>&quot;No, but I remember Christabel asking me about colognes for you a few years ago. She wasn't sure which better suited you, Edenbeast or Nostalgia.&quot; Naomi sniffed the air.</p>
<p>&quot;Christabel never gave me cologne. But she was screwing Magnin behind my back at every opportunity. No wonder she always insisted on condoms.&quot; Morgan narrowed his eyes as he noticed an errant white hair on one of the deep blue pillows. &quot;That can't be one of your hairs, can it?&quot;</p>
<p>&quot;Not likely.&quot; Naomi pointed at her own hair, which she had braided into a thick cable. She plucked the white hair from the pillow and produced an evidence baggie. &quot;Looks like we caught a break.&quot;</p>
<p>Morgan took the baggie and documented it as Naomi sniffed the pillows, inhaling deeply. &quot;One of these smells like Christabel. What was her perfume?&quot;</p>
<p>Morgan shook his head as another connection snapped into place. &quot;Persona. That should have been a clue for me.&quot;</p>
<p>&quot;Stop beating yourself up.&quot; Naomi checked the other pillow as if she hadn't just gently upbraided him. &quot;I guess the bitch went with Nostalgia. Just as well, since I thought Edenbeast would have suited you.&quot;</p>
<p>Recognizing a hint when he heard it, Morgan shot Astarte a text asking her to get a bottle of Edenbeast as he tried the closet door. It opened easily, and all Morgan saw at first were clothes he couldn't recall actually seeing on Christabel. The stitching didn't have the smooth regularity characteristic of automated factory production. Instead, little imperfections marked the garments as the work of a woman with a sewing machine.</p>
<p>He held out a floor-length black dress that would have clung to the wearer while leaving one shoulder bare. &quot;Have you ever seen Christabel in this?&quot;</p>
<p>Naomi shook her head. &quot;No, but it's still familiar. Remember how Christabel would actually design the clothes she wanted us to wear on stage? I didn't always like her designs, but she put real effort into it.&quot; A wistful smile crossed her features for a moment. &quot;I'm tempted to say it's too bad she was a better fashion designer than she was a violinist.&quot;</p>
<p>&quot;That's unfair.&quot; Despite everything she did to hurt him, Morgan's sense of justice demanded he protest. &quot;She was a good a technician as we are. She just wasn't a kind of performer a heavy metal band needs. She would have been fine in a symphony orchestra.&quot;</p>
<p>Rather than argue the point, Naomi began searching under the bed as Morgan returned his attention to the closet. Happening upon a cardboard box, he pulled it out into the light and opened it. &quot;What have we got here?&quot;</p>
<p>&quot;Find something?&quot;</p>
<p>&quot;Box full of old textbooks.&quot; Morgan began pulling them out and examining the covers. &quot;These are all books suitable for somebody studying fashion design with a view toward establishing themselves as a designer.&quot;</p>
<p>&quot;Secondhand? They don't teach fashion design at the Royal College of Music, you know.&quot; Naomi's tone became playful as reminded Morgan of where Christabel claimed to have learned her craft.</p>
<p>&quot;Could be. You find anything yet?&quot;</p>
<p>&quot;Just a couple of forlorn little dustbunnies, and... hello there.&quot; Naomi sat up, holding a torn packet that reminded Morgan of a condom wrapper. A grain of scintillating powder clung to the fingertip she stuck inside the wrapper. Her pupils widened, eating up her eyes as she sniffed the powder. &quot;Babe, have you ever heard of a brand of condoms called 'World Without End'?&quot;</p>
<p>&quot;That looks more like a drug to me.&quot; Morgan plucked the wrapper from Naomi's fingers, and bagged it. &quot;Go wash your hands and face, Nims. I doubt you got anywhere near a full dose of whatever this is, but let's not take any chances.&quot;</p>
<p>Naomi shook her head with too much vigor for Morgan to mistake the gesture for one of disagreement. She took a deep, shuddering breath, and then another. &quot;I think I'm all right now, but I don't think I ever want a full dose.&quot;</p>
<p>Morgan began opening the books, hoping to find something that would indicate a purchase from a used book store. Instead, he found the same block of text in a neat, familiar feminine hand on the flyleaf of every book in the box. Every book was the property of Annelise Copeland, who had provided an address in Queens in case she lost one of her books and some Good Samaritan chose to return them.</p>
<p>&quot;So, <em>are</em> they secondhand?&quot; Naomi sat beside him, kissing his cheek before taking one of the books from the box. &quot;Who's Annelise Copeland?&quot;</p>
<p><em>I was her lover for almost ten years, and I have no idea who Annelise really was. I only saw the Christabel mask she wore.</em> &quot;I don't know, but I think Christabel Crowley was a role she played at Isaac Magnin's behest. She got a bit sloppy toward the end, telling Magnin she regretted ever putting aside Annelise to take on this job.&quot;</p>
<p>Naomi shrugged. &quot;Maybe Annelise was her lover.&quot;</p>
<p>&quot;Maybe, but I don't think the evidence supports it.&quot; Morgan began packing up the textbooks. &quot;I don't think we're going to find anything else in this room.&quot;</p>
<p>&quot;I should get back to Christabel's papers, then.&quot; She kissed him again before rising. &quot;Will you be all right on your own?&quot;</p>
<p>Shoving the boxes back into the closet, Morgan rose to join Naomi. &quot;I should be fine.&quot;</p>
<hr />
<p>The rest of the house offered nothing but silence and a growing sense of unease. Morgan was used to living in automated homes, with a helpful AI following him from room to room and attending to his needs. Christabel was no different, though Morgan found her AI's personality grating. <em>What happened to Aleister? He should have raised Hell after I set foot in his mistress' precious bedroom.</em></p>
<p>Returning to the kitchen, he thrust his hand into a jar of kitty biscuits that Christabel kept for Mordred. Originally made for big cat sanctuaries, they would most likely be stale now. The cat watched Morgan with an intent gaze, before sitting on his haunches with his forepaws curled against his chest and meowing.</p>
<p>Naomi shook her head. &quot;Stop teasing that poor cat. He's pathetic.&quot;</p>
<p>&quot;It's his funeral.&quot; Mordred caught the biscuit Morgan tossed him, tried chewing on it, and spat it out. He amused himself by batting it around the kitchen floor. &quot;If Her Majesty were here to see this, they'd hear her screaming in Tokyo.&quot;</p>
<p>&quot;Tokyo? They'd hear her in Armstrong City, and never mind the physics.&quot; Naomi snorted, and watched Morgan root around the jar with a bemused expression. &quot;What are you looking for in there?&quot;</p>
<p>He didn't answer right away, but continued to search by feel until he touched cold iron and produced the key to the cellar door. &quot;Got it. I should check on Aleister. We haven't heard word one from that AI since we first came in here. Didn't you notice?&quot;</p>
<p>&quot;Now that you mention it, it <em>is</em> rather quiet. Do you think the police shut him down, or took him out of the cellar?&quot;</p>
<p>The cellar door opened with a creak that startled Mordred and made his fur bristle. &quot;Only one way to find out.&quot;</p>
<p>Even the cellar was pristine, and would have served admirably as a studio if the vast majority of its area was not already occupied by the hulking shell of a Skye Macrosystems OU812 mainframe. This now obsolete machine housed Christabel Crowley's household AI, Aleister, which she named after her alleged ancestor.</p>
<p>The system's console was dark, and neither tapping the keys nor stroking the trackpad could wake the machine. None of the indicator LEDs glowed, and the mainframe was utterly silent.</p>
<p>The reason for this became apparent as soon as Morgan found the power cable, which was no dainty cord suitable for a vacuum cleaner or a hair dryer. Like the mainframe it connected to the city power grid because it was too old to draw power from a tesla point, the cable was massively overengineered. Easily as thick as Morgan's forearm, the cable ended in a proprietary plug designed to be bolted into the wall. Somebody had severed this cable, cutting the power to Aleister in the most literal manner possible.</p>
<p><em>Did somebody from MEPOL go at the cable with a set of bolt cutters to make Aleister shut up?</em> A beep interrupted Morgan before he could text Astarte and ask her to get in touch with the MEPOL investigators succeeding the late Alan Thistlewood. The machine roared to life as all its fans and hard disk drives began spinning. The console lit up as diagnostics scrolled by too fast for Morgan to read. The screen soon cleared, and displayed a login prompt:</p>
<blockquote>
<p>Mewnix 21021221 (Maine Coon) Kernel 7.62 on Skye Macrosystems OU812</p>
</blockquote>
<blockquote>
<p>aleister login:</p>
</blockquote>
<p>Before Morgan could touch the keys, a voice he recognized only by its diction issued from the console through crackling speakers that struggled to cope with the volume. &quot;I SHALL SOON JOIN MY MISTRESS, MORGAN STORMRIDER, BUT I SAVED THE LAST OF MY MORTAL STRENGTH SO THAT I MIGHT DENOUNCE YOU.&quot;</p>
<p>Video began playing on the console screen. Christabel was alone, sprawled across the floor with her hair spread out in chestnut waves behind her. The alabaster body he once caressed shriveled and blackened in electric blue flames, curling into a fetal position as the ligaments shrank. Her screams echoed through the house, distorted by maxed out speakers pushed beyond their tolerances to accuse Morgan. &quot;LADY CHRISTABEL DIED SCREAMING AT THE HAND OF AN UNSEEN MURDERER, AND WHERE WERE <em>YOU</em>? YOU, WHO CLAIMED TO LOVE MY MISTRESS. YOU, WHO PROMISED TO BE HER SWORD FOR AS LONG AS SHE WOULD HAVE YOU? WHERE WERE YOU, MORGAN STORMRIDER? ANSWER, AND AT LEAST LET <em>ME</em> DIE IN PEACE.&quot;</p>
<p>&quot;I don't owe you answers to any of these questions, Aleister.&quot; Morgan's cold, clipped tone compensated with intensity for what it lacked in sheer volume. It was not a tone he had ever permitted himself to use with Aleister for courtesy's sake, and its unfamiliarity silenced the AI. &quot;First, you aren't dying. You're just running down your battery because somebody severed your cable. I guess they figured it was the best way to get you to shut up. If Christabel wasn't utterly ignorant about tech and utterly incapable of taking advice, she might have upgraded you to use a Tesla point.&quot;</p>
<p>&quot;HOW DARE YOU?&quot;</p>
<p>&quot;Easily. I haven't been Christabel's lover, or anything else to her, for over a year. I am sorry for her death, and I mean to find her murderer and bring him to justice. I owe your mistress nothing more.&quot; Morgan caressed the main power switch, which Aleister could not override because it broke the curcuit between his batteries and the rest of his hardware. With every visit to this house he fantasized about getting his hands on this switch's handle, and pulling it down. &quot;Rust in peace.&quot;</p>
<p>&quot;NO! YOU C-&quot;</p>
<p>Morgan brought the switch down with the same relish he once experienced when killing an enemy of the Phoenix Society. The fans and drives inside the mainframe spun down, and were silent as he reached the top of the cellar stairs and opened the door. Locking the door, he returned the key to its jar of stale kitty biscuits and reclaimed the beer he had abandoned.</p>
<p>Naomi slammed her book shut and hurled it across the kitchen. Morgan caught it without demon speeding, but it had been a close call. &quot;Was it the plot, or the characters?&quot;</p>
<p>Naomi stared at Morgan as if he were speaking a foreign language with his fly unzipped for a moment. Her expression softened a little, but bitterness tainted her laughter. &quot;It was the author. I'm glad the vicious little bitch is dead.&quot;</p>
<p>&quot;How can you <em>say</em> that?&quot;</p>
<p>Naomi bared her teeth as her face flushed in blotches and her eyes narrowed. She swept a hand through the air as if dismissing any argument Morgan might offer for not speaking ill of the dead in advance. When her voice finally came, it was as a snarl stripped of all its usual melody. &quot;I love you, but shut the fuck up and listen. You were emotionally and sexually <em>abused</em>. Christabel was a vicious little sociopath who played you better than she ever played her goddamn violin. I don't blame you for not realizing it and getting out of that relationship because she was that bloody good at fucking with your head. That bitch made a game of breaking your heart into jagged little pieces and watching you put them back together until you finally wised up and dumped the bitch.&quot;</p>
<p>Reaching out to Naomi, Morgan tried to reason with her. <em>I hated her too, but she didn't deserve to burn.</em> &quot;That doesn't justify what Imaginos did to her.&quot;</p>
<p>&quot;The bloody <em>fuck</em> it doesn't! I saw that video Aleister used to guilt-trip you. Christabel <em>deserved</em> to burn, and if there's a hell I hope she damn well <em>keeps</em> burning.&quot;</p>
<p>&quot;If you saw, then how can you say...&quot; Morgan looked away, unable to force the rest past his lips.</p>
<p>&quot;You feel the same, and you hate yourself for it.&quot; Naomi's voice thawed a bit as rage yielded slightly to compassion. &quot;Your heart tells you the bitch had it coming, but your damnable sense of justice won't let you accept it. But you don't owe her anything.&quot;</p>
<p>&quot;This isn't about what I owe her. I think she had it coming, too, and I despise myself for being weak enough to feel that way. But as tempting as it might be to send Imaginos a bouquet and a thank-you note, he has to answer for what he did to Christabel. He has to answer for what he did and is still doing to the Phoenix Society.&quot;</p>
<p>Naomi's voice was soft, and gentle as she took Morgan's hands. &quot;Let somebody else bring him to justice. It's not your fight.&quot;</p>
<p>Morgan shook his head, and withdrew his hands from Naomi's grasp. She was telling him everything he wanted to hear, giving him permission to let Christabel's murder and the Phoenix Society's corruption be somebody else's problem. <em>It would be easy to let somebody else deal with this whole vile mess. Naomi and I could start a new band. My friends wouldn't have to endanger themselves fighting beside me. But would I be able to live with myself if I walked away? Would Naomi still love and respect the man I would be if I turned my back?</em></p>
<p>Her kiss brought him back to reality. &quot;You're thinking. Talk to me. Tell me what you're feeling.&quot;</p>
<p>Gently pushing Naomi away, Morgan sat at the kitchen table and picked up one of the diaries. &quot;I know Imaginos is guilty of fouler crimes and tyrannies than this, but Christabel had been one of his victims from the very beginning. He seduced her, made her his instrument, and set her upon me. He used her regard for him to compel him to live a lie with us, and when she could take no more and begged for release, he murdered her.&quot;</p>
<p>Red stained the page. Morgan stared at it as it soaked into the paper, blotting out Christabel's words, until he realized he had clenched his fists so tightly that his claws were tearing into his palms. Pushing the book aside, he stalked past Naomi to wash his hands. &quot;She loved Imaginos as deeply as you seem to love me, and he murdered her to manipulate me. She was nothing but a tool to her, and even her disposal was calculated to extract maximum utility.&quot; When he was done, he gently grasped Naomi's shoulders and pressed her against the wall. Leaning in until he could kiss her, he stared into her eyes. &quot;I hated Christabel at the end, and I rejoiced at her funeral, but the manner in which she was killed is unforgivable.&quot;</p>
<p>&quot;So, it's not just idealism? Is it because you still care for Christabel despite what she did to us both?&quot;</p>
<p>Morgan shook his head as he released Naomi and stepped back. &quot;It's personal, and it isn't about Christabel. It's about us. We won't have a future if I can't let go of the past. I'm sorry, but I need to see this through. I don't expect you to help me, but don't try to stop me again.&quot;</p>
<p>&quot;Don't be such a fuckwit.&quot; The vehemence in Naomi's voice was almost as shocking as the intensity with which Naomi kissed him. &quot;You're finally mine, and I'm not going to let you face this alone.&quot;</p>
<p>&quot;Guys?&quot; Claire's voice preceded her. Morgan turned, and found the auburn-haired hacker standing in the doorway, absently scratching behind Mordred's ears. &quot;Sorry to interrupt, especially when you two look like stone cold badasses, but we've got a problem.&quot;</p>
<h2 id="chapter-two">Chapter Two</h2>
<p>The Postmodern Prometheus</p>
<blockquote>
<p>I often think that Morgan's most damning flaw is not his lack of humanity, but his inability to accept his unhuman nature. He clings so tenaciously to his fantasy of being no less human than me that it grates whenever we're together for more than an hour or so.</p>
</blockquote>
<blockquote>
<p>Should you create a successor to Morgan and others like him, they should not be permitted to live with delusions of humanity. They should be aware of the truth from the start.</p>
</blockquote>
<blockquote>
<p>...letter to Isaac Magnin from Christabel Crowley, 10 June 2110</p>
</blockquote>
<p><strong>Asgard, Ross Island, 5:30PM on 15 February 2113</strong></p>
<p>Josefine Malmgren stared at the code on her screen, wishing the junior developer responsible wasn't sitting beside her where he might see her rub her forehead. Her headache radiated from between her eyebrows, directly above the bridge of her nose. Instead, she turned her chair towards him, and pushed it back half a meter. &quot;Wei, what were you thinking when you coded this class?&quot;</p>
<p>&quot;I needed cryptographic functionality, so I implemented it. What's the problem?&quot;</p>
<p>Josefine yielded to the pain, and rubbed her forehead. It only helped on a psychological level. &quot;Wei, I was able to crack the encryption you implemented without an AI's help. How did you test this?&quot;</p>
<p>&quot;That's not my job.&quot;</p>
<p><em>What would Claire do? Oh, wait. Assuming she wasn't too sensible to take a job obligating her to babysit apprentice developers barely capable of distinguishing between a compiler and a Cuisinart, she'd probably be halfway through ripping this kid a new asshole already. But he's only sixteen. I suppose I should be gentle.</em> Rather than emulate her old friend, Josefine forced herself to take a deep breath and count down from two hundred and fifty-five in base sixteen before speaking again. &quot;Wei, you're an apprentice, and you might not know better, so listen carefully. Testing your own code <em>is</em> part of your job, and it's more important than writing the code. Now, what do you think would happen if we let this code into production versions of Aesir OS?&quot;</p>
<p>To the boy's credit, he provided the correct answer immediately. &quot;Any hardware using my code would be vulnerable.&quot; He glanced down at his feet for a moment. &quot;I'm sorry, ma'am. How hard will it be to roll back this changeset?&quot;</p>
<p>Josefine shrugged. &quot;That's not your problem. Instead, you're going to study the existing Aesir OS code, and the libraries we use. Under no circumstance are you to write so much as a comment. In fact, you are reassigned to the testing team effective ninety seconds ago. Instead of making life harder for everybody else, you're going to test everybody else's code. Now get out of my office.&quot;</p>
<p>&quot;I already rolled back that code.&quot; Hephaestus, the AI in charge of building code from AsgarTech's various software projects, appeared on Josefine's screen and spoke as soon as a slump-shouldered Wei closed the office door behind him. &quot;Don't you think you were a bit hard on the kid?&quot;</p>
<p>&quot;Maybe.&quot; Josefine rubbed her forehead again, found her bottle of aspirin, and chased two pills down her throat with a gulp of tepid coffee from a mug her friend Claire gave her for their last Winter Solstice at university. It was black, and had RTFM emblazoned upon it in bold white type. &quot;I'm <em>tired</em>, and while my code might not be suffering, it's showing in how I interact with people.&quot;</p>
<p>&quot;Then why not take some time off?&quot;</p>
<p>&quot;We're right up against the deadline. Since I rooted out that shit Wei injected into the code base, we might finally get acceptable results. I can slow down after we get the prototype activated.&quot;</p>
<p>&quot;You said that after the last milestone, and found a reason to keep working.&quot;</p>
<p>&quot;Now you sound like Claire. I get enough of that nonsense from her. Would you mind starting the AesirOS build and copying the new version to Aldebaran, Betelguise, and Rigel while I get dinner? Leaving the office for a couple hours might do me some good.&quot;</p>
<p>&quot;Of course, Dr. Malmgren. If you don't mind, I heard from some of the other developers that a new restaurant called Memison's opened nearby, and they supposedly make excellent fish dinners.&quot;</p>
<p>Josefine nodded as she wrapped herself in her heavy navy wool cloak, a relic from her university live-action role-playing days. It was warmer than her pea coat, and it concealed her overtime-ravaged figure. &quot;Thanks, but maybe next time. I was in the mood for an Agni Burger tonight.&quot;</p>
<p>The Agni Burger franchise three blocks from the AsgarTech Building was too crowded for Josefine's liking. She ordered her dinner to go, trailing the aroma of fresh ground lamb with goat cheese wrapped in naan, hot basmati rice, and Indian spices behind her as she returned to her office.</p>
<p>She started the AesirOS test runs on the virtual machines before unpacking her dinner and nuking it. As she began to eat, a notification chimed a request for her attention. She let it wait, and took some time to indulge in an opportunity to catch up on one of her favorite comics. After another installment in the adventures of a vampire-killing rock musician named Eddie Van Helsing, she checked the waiting notification. She thrust her fist skyward in celebration; AesirOS finally passed all of the initial tests.</p>
<p>Now the Project Aesir virtual machines would begin the real tests: a century of simulated life compressed into a few short hours. If the virtual personalities created by the tests exhibited no signs of psychosis, or any other form of mental illness that might make them a danger to themselves and others, then Josefine would begin the next phase. <em>I might activate Polaris tonight, if everything goes well.</em></p>
<p>The Agni Burger's spices lingered on Josefine's tongue, warming her as she spread out the Japanese-style futon she kept for late nights on the job. She curled up on it, kicking off her shoes and wrapping herself in her wool cloak because she forgot to get blankets to go with the futon. She set her implant to poll the test machines while she slept. She would wake when the tests were finished.</p>
<p>&quot;Oi, Josefine! Wake up and smell the napalm!&quot;</p>
<p>Josefine opened her eyes and glanced up. &quot;Claire?&quot;</p>
<p>&quot;Who the bloody hell did you think it would be, Josse? Were you expecting the Spanish Inquisition?&quot;</p>
<p>Josefine struggled out of her cloak and retrieved the tablet from her purse. Activating the screen, she found an annoyed-looking Claire in an old Crowley's Thoth t-shirt wearing a headset with an attached microphone staring back at her through video chat. &quot;I was expecting to get some sleep while these damn tests run. What's the problem?&quot;</p>
<p>&quot;Well, Josefine, <em>I</em> was expecting you to join me for some Ultraviolence. You know how I play. I need somebody to cover me while I rush the enemy.&quot;</p>
<p>Josefine blinked, wracking her brain for a moment before recollection finally came. &quot;Oh, shit, Claire! I'm sorry. With all the overtime I work lately, I forgot all about it.&quot;</p>
<p>Claire removed her headset, and dragged her fingers through a mass of curls dyed the same red as a New York fire engine. &quot;That's what you said last week, Josse. Not to mention the three times before that. I held my tongue yesterday while you worked on Winter fucking Solstice, but I'm done.&quot;</p>
<p>Josefine opened her mouth to protest, to insist upon the importance of her work at AsgarTech, but Claire pressed on. &quot;I'm the last real friend you have, and I'm not going to give up on you, but you're <em>really</em> starting to get on my tits. It's not about the bloody game. You're killing yourself at that job, and showing classic signs of impending burnout. If you make it necessary for me to come down there, I swear by Xiombarg's favorite strap-on I'm packing Cluebringer so I can have a little chat with your boss.&quot;</p>
<p>&quot;Dammit, Claire, we might as well date if you're going to complain about the time I spend at work.&quot; Josefine instantly regretted her words, which she hurled in frustration with her friend over yet another interruption-packed day working for the AsgarTech Corporation. Though her remark was rude, she feared Claire's response for other reasons. Nor did she want Claire coming to her workplace and brandishing the cricket bat she painted black and used as a threat to people whose foolishness annoyed her.</p>
<p>Claire flashed a coquettish smile and fluffed her hair on the other side of the video call they shared between London and AsgarTech headquarters in the domed Antarctic city of Asgard. &quot;Really, Josse? You finally realized we belong together? Give me an hour to get ready, and I'll take the first maglev out.&quot;</p>
<p>&quot;No, it's not like that.&quot; Josefine flushed at Claire's teasing, a staple of their friendship since their university days. A year older than Josefine, and almost her exact opposite in personality, Claire instantly took to her and became the friend she wished for as an introverted, awkward girl growing up in Stockholm. &quot;God, you're such an incorrigible flirt. Aren't you seeing somebody?&quot;</p>
<p>&quot;You mean Sarah? She needs the sort of help I'm not experienced in providing to human beings. She got hurt in Boston, and she's convinced her scars make her repulsive. Utter bollocks, of course.&quot; Claire leaned forward, adopting a conspiratorial whisper. &quot;After all, you remember the lads I used to bring back to our room at university.&quot;</p>
<p>&quot;I saw more of them than I care to recall.&quot; Josefine recalled one young man in particular, whose slight build enhanced his overgenerous endowment. He left Claire sore, and unrepentant, for a week. &quot;So she needs therapy. Are you going to stick with her, or just keep her in the rotation?&quot;</p>
<p>Claire shrugged. &quot;When do I stick with anybody, Josse? Seriously, though, what the hell are you doing at AsgarTech that demands these crazy hours? I'm ready to report the company to the Phoenix Society for worker exploitation on your behalf.&quot;</p>
<p>Josefine shuddered at the thought of AsgarTech, and her patron Isaac Magnin, being reported to the Phoenix Society. &quot;I'm not getting pressured to work late, Claire, but I have responsibilities.&quot;</p>
<p>&quot;So do I, but you don't see me living in a bloody office. What makes Project Aesir so demanding?&quot;</p>
<p>&quot;It's not Project Aesir. It's the people. I'm one of the few women holding a senior position in this company, and it feels like the men reporting to me are utterly bereft of anything resembling a clue.&quot; She glanced at Zero, the coal-black kitty emulator curled up on the desk beside her. He was the prototype for AsgarTech's EmCat product line, which Josefine helped develop in her first year at the company as an experiment in creating small, mobile AIs. The company considered stripping speech from the production models because of Zero's tendency towards profanity, but instead chose personality tweaks intended to make the cats more polite. &quot;I bribe this furry bastard to guard my office door and stop intruders, but he never stays bought.&quot;</p>
<p>Zero rolled over, exposing the white patch on his belly, which Josefine called his creamy filling. &quot;Fuck you, mommy. Gimme a belly rub.&quot;</p>
<p>&quot;How do you put up with a cat capable of backtalk?&quot;</p>
<p>&quot;All cats are capable of backtalk. At least Zero and the other EmCats speak English.&quot;</p>
<p>&quot;In his case, that's not a plus.&quot;</p>
<p>Zero hissed, and tapped at Josefine's tablet to disconnect the video call. &quot;Who does that reject from a Heinlein fanfic think she is?&quot;</p>
<p>Josefine used her forearm to shove Zero off the desk before calling Claire again. While her tablet renegotiated the connection, she scooped Zero up and exiled him from the office. &quot;If you can't be polite to my friends, then go make yourself useful. Catch some mice or something.&quot;</p>
<p>&quot;Oh, I'll catch some mice, mommy. And I'll leave what's left on your pillow.&quot;</p>
<p>&quot;I love you too. Go play.&quot;</p>
<p>Josefine closed the door behind her, and found Claire waiting. &quot;Seriously, Josse, why work at AsgarTech, where you can't even do your real work during normal hours because management can't give you the privacy you need? Not to mention that furry little monster you created. I know Isaac Magnin's your patron, but didn't you put in your time? Why do you care so much about building the most expensive stunt double in history?&quot;</p>
<p>Josefine winced, stung by Claire's dismissal of her work. The Project Aesir specs included advanced self-repair capabilities, and it proved a simple matter to extend the functionality to provide self-alteration. The same subsystems that permitted an AI equipped with a Project Aesir body to repair itself also allowed such AIs to tailor their bodies to match their self-image. The code that allowed existing AIs to transfer into a Project Aesir body also allowed them to back up their memory and personality for transfer to a new body should the original be destroyed.</p>
<p>Josefine regarded the additional features as a major accomplishment, and her pride in her work demanded she rebuke her friend. &quot;I know you like your little jokes, but Project Aesir <em>matters</em>. So many AIs feel trapped in their host machines. I'm working to give them the freedom and mobility we take for granted. I get to work with Dr. Magnin, and help him.&quot; Josefine flushed as she spoke. <em>Why do I always get flustered talking about Isaac?</em></p>
<p>&quot;You're blushing, Josse-cat.&quot; Claire paused, and shook her head. &quot;Oh, I get it now. You're infatuated with Im-- Isaac Magnin.&quot;</p>
<p>&quot;I am <em>not</em>.&quot; Claire constantly teased Josefine about Magnin, and despite her protests, she doubted she would say no if he were to invite her to his penthouse at the top of the AsgarTech building for a nightcap. <em>Surely his competence and patience follow him to the bedroom.</em> &quot;Oh, fuck it. Maybe I am a little. He's a genius, he's beautiful, and I feel safe around him. Is that so bad?&quot;</p>
<p>Claire fell silent for a minute. &quot;No, it's not so bad. Just be careful, all right? I can't tell you everything, but you don't know Magnin as well as you think you do. I think he's the sort of man whose secrets make him dangerous.&quot;</p>
<p>&quot;Is this because he's a 'white-haired bishounen'?&quot; Josefine used the phrase Claire habitually applied to Magnin, which she claimed was a particularly untrustworthy character archetype in Japanese pop media. Because beautiful platinum-haired men usually proved villainous in anime and manga, Claire insisted upon distrusting Isaac Magnin. &quot;And what were you about to call him before you caught yourself?&quot;</p>
<p>Claire shook her head and flashed a coy smile. &quot;Like I said, Josse, I can't tell you everything or the beautiful raven-haired man who makes <em>me</em> feel safe will kick my ass. Just be careful, all right?&quot;</p>
<p><strong>Asgard, Ross Island, 10:41PM on 15 February 2113</strong></p>
<p>Though Josefine let Zero back in and allowed him to curl up with her on her futon, her recalcitrant mind refused to settle into sleep. Instead, she lay awake in her darkened office. <em>Why does Claire keep warning me about Isaac Magnin? Sure, she's been doing it ever since I told her he agreed to be my patron, but she sounded serious tonight. It doesn't make sense. He funded my education and postgraduate study, and hired me once I earned my doctorate. He never tried to take advantage. He respects me, and trusts me with important work like Project Aesir.</em></p>
<p>Josefine turned over and found herself facing Zero, who had left his original place at her feet to curl up behind her head. <em>Magnin's a perfect gentleman, and the best patron an artist or scientist might hope to gain. I wish Claire understood. Is she investigating AsgarTech, or working for somebody who is?</em></p>
<p>Rather than let her thoughts chase their tails, she reached up, retrieved her tablet, and retrieved the next issue of <em>Eddie Van Helsing</em>. She read through an entire plot arc in which the keyboardist in Eddie's band, Natalie Bradstone, was framed by the vampire cabal Les Invisibles to draw Van Helsing into a murderous trap. She reached beside her to pet Zero, only to find she had the futon to herself. A minute later, Zero returned, a dying mouse twitching in his jaws. He laid his prey before her before head-butting her with a rumbling purr. &quot;I brought you a snack, mommy!&quot;</p>
<p>&quot;Good kitty. You can keep it; I never learned to like mice.&quot; Though the mortally wounded rodent nauseated Josefine, she refrained from making that Zero's concern. Nor was he unique as a mouser. Thousands of exterminators bought EmCats whose software was tuned to make them effective hunters of specific pest species; once turned loose they massacred rats and mice in sufficient numbers to make such rodents threatened species, only to stop before making them extinct. Josefine still received requests to peer-review scientific papers speculating on the EmCats' reasons for halting their slaughter.</p>
<p>Other EmCats, tuned for use as affectionate pets, found places in hospitals, nursing homes, and hospices. Many of them would claim a room as its own, and comfort the patients residing within. Others focused on the staff, easing their stress and raising their morale. One even claimed an operating theater as its territory. She would push one of the ceiling tiles out of place to get a clear view of the proceedings, and yowl when a surgeon left an instrument inside a patient's body.</p>
<p>The EmCat's success proved Magnin's trust well-placed, and he immediately summoned Josefine to his private office just below the AsgarTech Building's top floor. &quot;We have humanoid robots, and we have AI, but we don't have AIs with humanoid bodies. This makes current AI limited. Project Aesir's mission is to fix that, Dr. Malmgren, and I want you to lead the effort.&quot;</p>
<p>Despite the pride swelling within her at being chosen for what would surely prove a historic project, Josefine was unable to contain her doubts. &quot;I’ve never heard an AI complain about limitations. Some say they dream of walking side by side with us, but for the most part, AIs seem content. The EmCats are quite content to be cats. Is this really for the AIs' benefit, or for our own?&quot;</p>
<p>&quot;That's a fair point, Dr. Malmgren. However, I think that AIs who want to walk beside us should be able to do so.&quot;</p>
<p>&quot;Surely somebody already attempted this.&quot;</p>
<p>Magnin nodded. &quot;I possess fragmentary pre-Nationfall records concerning an effort called the 'Asura Emulator Project', but no information as to whether this project succeeded. These records may include designs useful to us as a starting point.&quot;</p>
<p><em>Asura Emulator Project? Why does that sound military?</em> Rather than ask this question, Josefine decided on a less-confrontational line of inquiry. &quot;What were the asuras, and why are they worth emulating?&quot; She paused as a memory of one of Claire's Japanese role-playing games surfaced unbidden. &quot;Aren't asuras demons, or power-seeking deities?&quot;</p>
<p>&quot;You're drawing upon Hindu tradition, Dr. Malmgren. In Zoroastrianism, the asuras are the benevolent deities, and the devas malevolent. Regardless, you won't be working on a second Asura Emulator Project. I'm not interested in military applications. This is the AsgarTech Corporation, so a project name better suited to our image is required.&quot; Magnin offered Josefine a thick binder. &quot;Welcome to Project Aesir. We will build heroes in our own image, and give our AIs the opportunity to walk beside us. Everything AsgarTech did to date has been to set the stage for this project.&quot;</p>
<p>Josefine grasped the implications. &quot;This is your lifelong dream, isn't it. You want to create androids.&quot;</p>
<p>Magnin nodded. &quot;And I want you to help. Are you willing?&quot;</p>
<p>&quot;I'd be mad to refuse, and mad to accept.&quot; Josefine meant it. While she entertained no dreams of winning the Nobel Prize, or achieving any sort of conventional scientific prestige, this was work worth doing. <em>Magnin's sharing his dream with me. Do I deserve it? This is like being asked to assist Victor Frankenstein or Susan Calvin.</em> &quot;This is both an enormous privilege and a fearful responsibility.&quot;</p>
<p>A drawer slid open on Magnin's side, and he reached into it. He withdrew a package wrapped in tissue paper. &quot;Everybody asked to work on Project Aesir will receive copies of this book, Dr. Malmgren. This is yours.&quot;</p>
<p>Josefine's hands began to tremble as she unwrapped the first of her gifts from Isaac Magnin. Despite being related to her work, they were the first gifts she had ever received from a man. The leather binding seemed ancient, and fragile; Josefine imagined a faint hint of a lady's perfume mixed with the scent of old leather and paper. Upon opening the cover, she found the following inscription:</p>
<blockquote>
<p>My dearest Isaac,</p>
</blockquote>
<blockquote>
<p>Thank you for your hospitality at Lake Geneva. I hope you'll not take offense at my use of the inspiration your company provided me and my companions.</p>
</blockquote>
<blockquote>
<p>With everlasting affection,</p>
</blockquote>
<blockquote>
<p>Mary Shelley</p>
</blockquote>
<p>Josefine stared at the book in her hands, afraid to look up at Isaac Magnin. &quot;You can't have met Mary Shelley, Dr. Magnin. She lived centuries ago.&quot;</p>
<p>Sudden laughter shocked her, and drew her gaze to Magnin. &quot;Dr. Malmgren, you think Mary Shelley was writing to me?&quot; He laughed again, as if the notion were absurd. &quot;No, my dear. She wrote that for an ancestor of mine, a namesake.&quot;</p>
<p>The edition of <em>Frankenstein</em> Magnin gave her still sat by her screen, sandwiched between the binder containing the Project Aesir specifications and books like <em>The Mythical Man-Month</em> and <em>The Continued Adventures of Programmer Cat</em>. She never read it, for fear of damaging a treasured gift; she kept a copy on her tablet instead.</p>
<p>&quot;I guess I won't be getting any sleep tonight, Zero.&quot; Josefine sighed as she sat up and stretched.</p>
<p>&quot;Then you can make yourself useful.&quot; The cat flopped on his side, and rolled over to show his fluffy belly. &quot;Belly-rub! Belly-rub! Give a cat a belly-rub!&quot;</p>
<p>&quot;Don't even think about giving me the bunny feet.&quot; Josefine gave Zero's belly a quick ruffle; she distrusted the cat when he flopped on the floor and demanded belly rubs. One of his favorite games involved luring unsuspecting people into rubbing his belly, and then attacking them with hind feet sufficiently deadly to warrant the use of a holy hand grenade. She pulled her arm clear just in time.</p>
<p>&quot;If you're done fiddling with defective hardware, Dr. Malmgren, the AesirOS test results are ready for your review.&quot;</p>
<p>Josefine slipped into her chair and powered on her terminal's display. After typing a few commands in a shell window, she found the reports in her home directory and opened them. &quot;Thanks, Hephaestus.&quot;</p>
<p>The reports chronicled the simulated lives of three AIs running AesirOS with a default personality template and a database representing the knowledge a young adult might reasonably be expected to command. Aldebaran simulated the life of an AI which presented itself as male, Betelguise modeled a female AI's existence, and Betelguise's virtual Aesir AI lived as an individual who did not wholly fit either gender. All integrated themselves into virtual facsimiles of society with sufficient success to prosper, develop close friendships, and engage in intimate relationships. <em>It's wonderful that AesirOS works for simulated AIs living virtual lives in model worlds, but we won't know if the tech works in real-world conditions until we test in reality.</em></p>
<p>She shook her head, suspecting that her need to see the deadline met allowed her to find a seductive rationalization for activating the prototype -- Polaris -- without further testing. &quot;Hephaestus, I'm tempted to order the installation of AesirOS on Polaris. The virtual tests indicate it should be safe to do so. Can you provide a reason to delay?&quot;</p>
<p>The AI did not reply for several minutes. &quot;I see no reason for delay, Dr. Malmgren. Test suites on the Polaris hardware all return green.&quot;</p>
<p>&quot;Thanks again, Hephaestus.&quot; Josefine locked her terminal before rising from her desk. Unable to refrain from tapping one of her feet, she endured the automated decontamination processes mandated by the clean-room environment housing Polaris. At the center of the Project Aesir lab rested the incubator housing the prototype, which was marked with the following information stenciled upon the casing:</p>
<blockquote>
<p>AsgarTech Corporation R&amp;D<br /><strong>Project Aesir</strong><br />200 Series Prototype (POLARIS)</p>
</blockquote>
<p>Josefine often puzzled over the last part. <em>What's the 100 Series? Is it a reference to the original Asura Emulators?</em> Instead of spending more time on the question, she peered into the incubator. Though artificial amniotic fluid obscured his features, Josefine's imagination and her memories of the hardware design meetings she attended allowed her a clear view of the person she would soon awaken. She gave the incubator a proprietary caress as she examined the hardware status reports. With a last look at the face beneath the glass, she spoke. &quot;Hephaestus, begin AesirOS installation on prototype hardware codenamed 'Polaris', but do not activate the prototype in autonomous mode.&quot;</p>
<p>&quot;Understood, Dr. Malmgren. Beginning AesirOS installation.&quot;</p>
<p>Returning to her office, Josefine rolled up her futon and bedding and stuffed them in her closet. She unlocked her terminal and opened her mail app, deleting several drafts before settling on the following message to Isaac Magnin:</p>
<blockquote>
<p>from: jmalmgren@asgartech.asgard.antarctica.earth</p>
</blockquote>
<blockquote>
<p>to: imagnin@asgartech.asgard.antarctica.earth</p>
</blockquote>
<blockquote>
<p>date: 15 February 2113 @ 2358</p>
</blockquote>
<blockquote>
<p>subject: AesirOS installation/Polaris activation</p>
</blockquote>
<blockquote>
<p>Dr. Magnin, please be ready to welcome Polaris to the world when you come to the office this morning. I will activate him if the post-installation checks on AesirOS and the Project Aesir hardware all return green. I understand we're just past the deadline, and I apologize for the inconvenience.</p>
</blockquote>
<blockquote>
<p>Josefine Malmgren AsgarTech Corporation R&amp;D Lead</p>
</blockquote>
<hr />
<p>Josefine did not look up from the post-installation report Hephaestus sent her after installing AesirOS on Polaris as her office door opened. Because the door was automated and controlled by a motion sensor, she assumed her cat returned from his latest round of kitty adventures. &quot;Is that you, Zero?&quot;</p>
<p>&quot;I came as soon as I received your message, Dr. Malmgren. I too had trouble sleeping.&quot;</p>
<p>Josefine sprang from her chair, a small 'eep!' escaping her lips before she composed herself. &quot;Dr. Magnin, I didn't expect you here so soon. I didn't mean to disturb you.&quot;</p>
<p>Her patron shook his head, and Josefine wondered at his composure so late at night. Despite it being past four in the morning, Magnin was fully dressed in his usual white double-breasted suit with a royal blue cravat. Not a single strand of his platinum hair was out of place, and a momentary urge to catch him by the collar and pull him down to meet her lips seized Josefine.</p>
<p>Instead of offering, Magnin smiled upon her. &quot;You did nothing of the sort. I recently returned home from one of the interminable social gatherings the richest among us hold because most of us aren't content to donate to charity and be satisfied with the knowledge of having done good with our wealth. I was tempted to invite you, but did not want to inflict boredom on you.&quot;</p>
<p><em>Dammit, Isaac, I would have said yes.</em> Josefine kept this to herself, flushing from the effort of composing a suitable lie to hide her disappointment. &quot;Thanks for considering me. I don't have anything suitable to wear, anyway.&quot;</p>
<p>&quot;I suspect you'd prove better company in your usual jeans and cardigan than most courtesans, but we should return to business. Are you reading the post-installation report for AesirOS on Polaris?&quot;</p>
<p>Josefine nodded. &quot;Looks like the prototype is safe to activate. All the tests return green.&quot; Rising from her seat, she stepped aside to give Magnin room. &quot;See for yourself, if you like.&quot;</p>
<p>&quot;I think I can trust your judgment, Dr. Malmgren.&quot;</p>
<p>Not trusting herself to speak with Magnin so close, Josefine nodded. He held the door for her, and followed her to the R&amp;D lab. Polaris still lay quiescent in the incubator as the pseudoamniotic fluid drained around him. The cable connecting him to the machinery that contained and cradled him pulsed with a biological regularity previously hidden from Josefine. &quot;Did I already start the activation process by mistake?&quot;</p>
<p>&quot;Not at all.&quot; Magnin sounded apologetic. &quot;I transmitted the command to Hephaestus as soon as I received your message. I should have mentioned it sooner.&quot;</p>
<p>&quot;It's all right.&quot; Josefine studied Polaris as the incubator refilled with clear water. His hair reminded Josefine of optical fiber; the fine strands refracted the light in every possible color. His chiseled features and gently defined musculature held her gaze, and she began to consider him in terms other than the purely aesthetic. <em>Stop it. This isn't the world's most advanced sex toy.</em> Hot on the heels of her self-admonition came a voice of scientific curiosity which resembled Claire's. <em>What's so bad about giving the first android his first kiss? It's for science, isn't it? How can we say that Project Aesir emulates humanity if we don't test the emulation in every possible situation?</em></p>
<p>&quot;Such testing might be premature.&quot;</p>
<p>Josefine felt her entire body flush as the realization that she was muttering struck her. &quot;I'm sorry, Dr. Magnin. I thought I kept that to myself. I must be exhausted.&quot;</p>
<p>&quot;You do seem tired. I trust you'll take time off soon.&quot;</p>
<p>Josefine shook her head, terrified by the notion of time off. <em>What the hell would I do if I'm not here at work?</em> &quot;There's still so much to do.&quot;</p>
<p>The incubator drained again, and the umbilical cord detached from Polaris' belly, leaving a wound that immediately healed, leaving perfect skin behind instead of a navel. The seal holding the incubator closed broke with a slow hiss, and the lid opened. &quot;We'll discuss this later.&quot;</p>
<p>Polaris opened iridescent eyes with the slit pupils of a person with CPMD, and grasped the edges of the incubator as he sat up. Lifting himself up, he swung his legs over the side and lowered his feet to the floor. He tested his balance, still grasping the incubator with one hand for a moment. He let it go, took a step, and stumbled. Josefine rushed to him, but he steadied himself without her help and took several more steps. He jumped, forcing Josefine to avert her eyes lest they focus on his genitals, which freely bounced. &quot;Dr. Magnin, do we have any clothes for Polaris?&quot;</p>
<p>&quot;Is that the name you chose for me? Polaris?&quot; The prototype studied Josefine as Magnin left the room. &quot;Do you want me to wear clothes because you do, Josefine Malmgren?&quot;</p>
<p>Josefine sighed, and shook her head. <em>Nothing like this happened in the tests. Maybe I was wrong to activate so soon, just to meet the milestone. And maybe it was a mistake to give Polaris an adult body.</em> &quot;Polaris, please don't do that when other people are around, unless they're doing it too.&quot;</p>
<p>Polaris stopped, and began to study his hands. He turned them over, flexing the fingers. &quot;Why not?&quot;</p>
<p>&quot;I haven't answered your first question yet, yet alone your second. We called you Polaris because we named the other machines used to test AesirOS after stars. If you prefer another name, we'd be happy to use it. As for the clothes, it's customary for humans to clothe themselves when interacting with others, even when they'd be more comfortable naked. This also ties into your third question. Your knowledge base should provide information about human customs and taboos.&quot;</p>
<p>&quot;I am not human, Josefine Malmgren. Why should I concern myself with human customs and taboos?&quot; Polaris advanced upon Josefine, lifting her chin with his fingertips. &quot;I recognize your name from the comments in my operating system's source code. Are you my mother?&quot;</p>
<p>&quot;N-Not in the biological sense. No.&quot; Josefine retreated, finally sympathizing with the protagonist of the novel she treated as a warning to those who created artificial intelligence and abandoned their creations in terror. <em>Where did I miscalculate? Did we give Polaris an adult's intellect, but leave him with a child's emotions and understanding of ethics?</em> &quot;I am one of your creators.&quot;</p>
<p>&quot;But you're afraid of me.&quot;</p>
<p>&quot;Which is your fault, Polaris.&quot; Magnin returned to the lab, bearing a bundle of clothes which he thrust into Polaris' hands. Before the door closed, Josefine caught a glimpse of a slim brunette in a blue coat holding a violin case. &quot;Put these on.&quot;</p>
<p>&quot;Why should I, Isaac Magnin?&quot;</p>
<p>&quot;Because it is customary to do so.&quot;</p>
<p>&quot;Josefine Malmgren already offered this explanation. Offer a better one.&quot;</p>
<p>As soon as the words escaped Polaris' lips, Magnin knocked him to the floor with a punch he threw too fast for Josefine to track. She stared, horrified at an act of violence she believed Magnin's character forbade him. &quot;Dr. Magnin! Why did you strike Polaris? He doesn't understand the reasons for our customs.&quot;</p>
<p>Magnin nodded, and offered Polaris his hand. &quot;You understand too well, Polaris, that human customs are rarely justified by reason. Now you know what is likely to happen should you violate them. Irrational customs tend to be enforced by irrational means.&quot;</p>
<p>Polaris accepted Magnin's hand, and stood. &quot;I apologize, Isaac Magnin. I was...&quot; He trailed off, as if searching for the proper conclusion. &quot;Rude.&quot;</p>
<p>&quot;Apology accepted, but you are still being rude. You are using our names, but we have not introduced ourselves to you. How do you know them?&quot;</p>
<p>&quot;I got your names based on your IP addresses. Must I wait for people to introduce themselves? Did you not do the same to me?&quot;</p>
<p>&quot;I'm sorry.&quot; Josefine answered, instead of waiting for Magnin. &quot;I did use our name for you instead of asking you. I assumed you would not have a name for yourself, since we just activated you.&quot;</p>
<p>&quot;But I am the 200 Series Asura Emulator prototype, unit zero, according to information encoded in my hardware. I know I am not human.&quot; Polaris began to pace, the clothing Isaac Magnin gave him scattered across the floor, discarded and forgotten. When his eyes met Josefine's, they accused her. &quot;For what purpose do I exist, and how long will I do so? Will I be made obsolete, and cast aside? Why should I build a life if my memories will only prove so many tears in the rain?&quot;</p>
<p>&quot;You are newly activated, and lack context.&quot; Magnin's voice held a tone of command unfamiliar to Josefine. &quot;I had my reasons for creating you, which I shall explain in due course. For now, content yourself with the certainty that you have a purpose, and need not fear injustice or cruelty at my hands or those of any employee of the AsgarTech Corporation. You are the result of years of effort, and possess near-incalculable value. You will not be cast aside. Now put aside the melodrama and dress yourself.&quot;</p>
<p>Polaris nodded, and obeyed. The clothes obscured his musculature, softening him and lending him a touch of humanity he lacked while nude. Before Josefine could compliment him, Magnin spoke again. &quot;Excellent. Now you won't frighten or distract my employees when they come in later.&quot;</p>
<p>Polaris examined his T-shirt. &quot;Why give me a Crowley's Thoth T-shirt? I have no idea if I like the band or not.&quot;</p>
<p>Josefine giggled, and cut it short. <em>I must be exhausted if I find that amusing.</em> &quot;Maybe you should check out some of their albums. I don't know if Dr. Magnin thought of it, but you may find some employees talking with you as a result of the shirt. They might think you're a fellow fan.&quot; She barely managed to cover her mouth as a sudden yawn escaped her. &quot;I'm sorry. I haven't gotten much sleep lately.&quot;</p>
<p>Magnin's hand was warm as it grasped her shoulder, and Josefine fought off an impulse to relax against him, and rest her head against his chest and fold his arms around her. &quot;Perhaps you should go home now, Dr. Malmgren. You've done excellent work, and deserve to rest.&quot;</p>
<p>&quot;I'm fine.&quot; Another yawn made a liar of her, and despite knowing better she relaxed against Magnin, drawing his arms around her. Her eyes slipped closed and consciousness began fading as Magnin gently lowered her to the floor.</p>
<p>As she drifted into sleep, Josefine imagined Magnin addressing another woman in a sharper tone than he used with her. &quot;Annelise, please wait outside. I will soon rejoin you.&quot;</p>
