<h1 id="of-cats-and-cardigans">Of Cats and Cardigans</h1>
<p><em>by Matthew Graybosch</em></p>
<h2 id="i">I</h2>
<p>&quot;Damn it.&quot; Morgan Stormrider pulled at the stitch he fouled up. He teased at the snarled wool until it came free, and muttered a harsher curse as he undid several perfectly good stitches in the process.</p>
<p>Sid Schneider, Morgan's occasional partner on missions where he required support, yawned in response. &quot;Yeah, I've been thinking that all night. Still can't believe we got stuck with standby duty on Solstice Eve.&quot;</p>
<p>&quot;I got stuck with it.&quot; Morgan resumed his knitting. &quot;You volunteered. Said something about easy overtime pay.&quot;</p>
<p>The bigger man rose from his seat and stretched. The bells tied to the ends of his dreadlocks for Solstice gave a soft jingle. &quot;I thought we'd at least have some paperwork to do, but we're just sitting on our asses. I should be home with my family if I can't do anything useful.&quot; He glanced at Morgan. &quot;And what the <em>hell</em> are you knitting? Did Elly ask you for another blanket?&quot;</p>
<p>&quot;You hinting at something?&quot; Morgan finished a row and started the next. &quot;Does Elly have another baby on the way already?&quot;</p>
<p>Sid almost choked on his coffee. &quot;Shit, I hope not. Way too early. We're still--&quot;</p>
<p>&quot;It's a cardigan.&quot; Morgan interrupted Sid, reluctant to hear about his friend's sex life. He checked the skein of red wool feeding his needles, unsure if he'd need another to finish the sleeve. &quot;Last time we rehearsed, the studio had no heat. So I thought I'd knit something warm for the ladies.&quot;</p>
<p>&quot;Adversary Schneider, did you imply you were bored?&quot; Malkuth's avatar, as black as Sid, appeared on one of the screens. &quot;We just got a missing child job. &quot;</p>
<p>&quot;Fu--&quot;</p>
<p>Morgan cut off Sid's curse. &quot;I'll take it, Malkuth. Let Sid go home to his family, and give me the details.&quot;</p>
<p>&quot;You sure, man?&quot; Sid's hopeful tone told Morgan he was right to volunteer to take the case.</p>
<p>Morgan modded as Malkuth began feeding him information. <em>Andy Crosby, age 13. Reported missing by his mother, Jennifer Crosby, on Saturday, 17 December 2101.</em> &quot;Quite sure, Sid. It sounds like the mother went to the police first, and they sat on the case.&quot;</p>
<p>Malkuth's tone became cautionary. &quot;Adversary Stormrider, if a child is missing, we should focus on the child, and not on police misconduct.&quot;</p>
<p>Putting aside his knitting, Morgan rolled his shoulders to loosen them. He fastened his armored coat and clipped his sword to his belt before answering. &quot;You need not question my priorities, Malkuth. Rescue first, then retribution.&quot;</p>
<h2 id="ii">II</h2>
<p>Andy Crosby paced the length of the padded room deep in the basement of St. Hermelin's School, careful to avoid overturning the bucket in the corner and spilling its fetid contents across the floor. He tried to ignore his stomach as it knotted itself, but he was out of food. What little he had had, he bought at a corner deli before coming to class on Friday. It was now Tuesday, and despite his efforts at rationing he had eaten the last of his food the night before.</p>
<p>Using his implant, he tried to reach the network again, but failed to connect. <em>Great. I bet Dr. Josephson not only made the Box soundproof, but built in a Faraday cage. How could he do that without the headmaster being complicit?</em></p>
<p>He examined the door again, searching for a weak point. Without any light, he was forced to work by feel, but concluded that the door was not made to open from inside, or to open inward. He hurled a vicious kick at the door, willing his heel to tear through the wood.</p>
<p>The door held firm.</p>
<h2 id="iii">III</h2>
<p>Morgan knocked on a red door festooned with evergreens that guarded a basement apartment on 127th Street in Harlem, sandwiched between a halal butcher shop and a Jamaican restaurant. The door opened, and a tear-streaked woman caught his hand and pulled him inside. &quot;Thank God you're here!&quot;</p>
<p>&quot;Privileged to serve, ma'am.&quot; Morgan saluted before scanning the neatly-kept living room, which Ms. Crosby tastefully decorated for the impending holiday. He noted several bookcases full of old hardcover books, and stopped at a small framed photograph of a dark-skinned, black-haired youth with golden eyes made feline by CPMD. His features resembled that of the woman who pulled him in to a degree that made Morgan's question feel redundant. &quot;Is this your son Andy?&quot;</p>
<p>Ms. Crosby blew her nose before answering. &quot;Yes, Adversary. He's a good boy, and always comes straight home from school, but he has such an imagination.&quot;</p>
<p>&quot;I understand he hasn't come home. When did you see him last?&quot;</p>
<p>&quot;I sent him off to school on Friday, Adversary. He normally tells me if he's going to visit a friend after school or spend the evening at the library.&quot; Ms. Crosby wrung her hands a moment before retrieving a smartphone from her purse. She tapped at the screen before handing it to Morgan. &quot;I called the police straightaway, and they promised to look into it, but they never even sent an officer to get my statement.&quot;</p>
<p>Morgan scrolled through the call log, noting the repeated calls to the NYPD's 26th Precinct. A momentary curiosity caused him to turn over the phone. He returned it, bemused by its date of manufacture. &quot;If you'll pardon the digression, isn't it odd to use a smartphone manufactured before Nationfall?&quot;</p>
<p>&quot;It was my grandmother's. Some of her data's on it, so I keep it to keep something of her. Mama Sarika died before my Andy was born, so this let him know her a little.&quot;</p>
<p>&quot;I think I understand. Can you tell me a bit more about Andy, and where he might have gone? Does he have any enemies? Might his father have taken him?&quot; The last was a thrust in the dark; the data Malkuth provided suggested that Jennifer Crosby was a single mother, and disputes over custody might provide a plausible explanation for Andy's disappearance.</p>
<p>Ms. Crosby shook her head at Morgan's last question. &quot;My son doesn't have a father. I conceived him using donor sperm.&quot;</p>
<p>&quot;That rules out the most common explanation.&quot; Morgan paused a moment, remembering the manner in which Ms. Crosby initially characterized her boy. &quot;Would you care to tell me more about Andy's imagination?&quot;</p>
<p>Ms. Crosby's expression darkened in response. &quot;Andy goes to St. Hermelin's School on 125th St. It's an exclusive and expensive school with excellent science programs, and he was happy there until he started the current term. He tells me his biology instructor, Dr. Josephson, is conducting experiments on his class. When I ask him if he's told anybody else at St. Hermelin's, he tells me he's afraid that the administration is in on it.&quot;</p>
<p>&quot;What sort of experiments?&quot;</p>
<p>&quot;Well, he insists on carrying his own hand sanitizer instead of using what the school provides. He says that most of the kids who clean their hands using the school's sanitization stations <em>change</em>. He calls them 'Stepford students'. Others become really aggressive, and had to be confined until they calmed down.&quot;</p>
<p>&quot;Confined?&quot; Morgan narrowed his eyes, and opened a connection to Malkuth using his implant. <em>Malkuth, are you monitoring my Witness Protocol feed?</em></p>
<p><em>Is this about the alleged confinement of unruly students at St. Hermelin's School?</em></p>
<p><em>Good, you're paying attention. Seems the biology instructor, one Dr. Josephson, needs a refresher on informed consent. Get me the dirt.</em></p>
<p><em>Done.</em></p>
<p>Morgan returned his attention to Ms. Crosby. &quot;Sorry to take my attention from you, ma'am, but I just got in touch with one of the Sephiroth and asked him for further information.&quot;</p>
<p>&quot;Do you know where Andy is, Adversary?&quot;</p>
<p><em>Morgan, we have a problem. Dr. Charles Josephson appears to have disabled the Witness Protocol functionality in his implant. I got authorization to subpoena NYNET for Andy Crosby's IP address and network access logs for the past week. He dropped off the network Friday afternoon.</em></p>
<p><em>So he either disabled his implant before leaving school, or somebody put him in a Faraday cage. Get me a search warrant post fucking haste, Malkuth.</em> Morgan realized his expression changed as Ms. Crosby recoiled. &quot;I'm sorry to frighten you, ma'am, but I just received information concerning your son. I am confident he never left the school.&quot;</p>
<p>Ms Crosby followed him to the door, grabbing her coat. &quot;Let me come with you, Adversary.&quot;</p>
<p>&quot;Meet me there.&quot; Before Ms. Crosby mustered a response, he leaped up to the street and sprinted toward St. Hermelin's School.</p>
<h2 id="iv">IV</h2>
<p>Andy Crosby removed his shoe and rolled up the leg of his jeans. He felt for wounds, sure that he had injured himself when part of the door yielded to his assault and splintered beneath his last kick. Finding nothing, he tried breaking off some of the splinters before putting his arm through the hole to find the latch. &quot;It's locked. Shit.&quot;</p>
<p>He took a breath, and felt around the latch, hoping to find a means of unlocking the door without a key he did not possess. His questing fingers found a keyhole, instead. Withdrawing his arm, he crouched by the door and breathed deep before calling, &quot;Please let me out! I have no food or water left!&quot;</p>
<p>No answer came, but Andy imagined he heard a door open somewhere up above. Half an hour later, the light pouring through the hole in the door cut off. &quot;Are you Andy Crosby?&quot;</p>
<p>&quot;Yeah. Who are you?&quot;</p>
<p>&quot;I'm Adversary Morgan Stormrider, from the Phoenix Society. Your mother wants you home for the Solstice.&quot; A gloved hand reached in, offering a bottle of water and what looked like a protein bar. &quot;Take these, but eat and drink as slowly as you can. If you went four days without food and water, eating too quickly might make you sick.&quot;</p>
<p>Andy obeyed. &quot;Can you get me out of here? The door's locked.&quot;</p>
<p>&quot;Let me worry about that. Did you make this hole?&quot;</p>
<p>&quot;Yeah. Kicked it about a hundred times.&quot;</p>
<p>&quot;Ever think of becoming an Adversary yourself? The IRD corps has room for people with your nerve.&quot;</p>
<p>&quot;You serious?&quot;</p>
<p>&quot;Deadly serious.&quot; The gloved hand reached in again, and fingertips brushed Andy's forehead. &quot;You're too close to the door.&quot;</p>
<p>Andy pressed himself against the wall opposite the door. &quot;What are you--&quot;</p>
<p>Footsteps hammered the floor outside for a moment before the door exploded inward. A tall, pale man with flowing black hair and a longsword in his hands rolled the shoulder he used to break through. He sheathed his sword, sniffed, and glanced at the bucket before offering his hand. &quot;Let's get you to your mother before I deal with the pusbag who locked you in here.&quot;</p>
<h2 id="v">V</h2>
<p>Morgan pressed himself against the wall beside the door to Dr. Charles Josephson's apartment in the Bronx, and hammered the door with a clenched fist encased in a lightly armored glove. He raised his voice to penetrate the walls. &quot;Dr. Charles Josephson. This is Morgan Stormrider, from the Phoenix Society. I have a warrant.&quot;</p>
<p>No response came. <em>That bastard better not be climbing out the fire escape.</em> &quot;Dr. Josephson! Open the door, or I will force my way inside!&quot;</p>
<p>He strained his ears, hoping to hear the slightest sound that might hint at what conditions he might encounter inside. He heard nothing. *Malkuth, the suspect has not responded. I'm going to force the door.&quot;</p>
<p><em>Acknowledged. Be careful. Josephson has a wife and two children, who are most likely inside. Our records do not indicate the presence of firearms in the home.</em></p>
<p><em>If I take a bullet I'm going to make you explain it to Christabel.</em> Morgan broke down the door. All was silence inside. Entering the living room, he found a woman sitting upon a sofa with a child on either side, staring at a dead black screen. He stripped the glove from his hand and took the woman's pulse first. &quot;Ma'am. Can you hear me? I'm Morgan Stormrider, from the Phoenix Society. I have a warrant.&quot;</p>
<p>The woman's voice was a monotone. &quot;I can hear you, Morgan Stormrider from the Phoenix Society.&quot;</p>
<p>Morgan placed a copy of his warrant on the coffee table. &quot;Ma'am, what happened to you and your children?&quot;</p>
<p>&quot;Charles gave us medicine. He said it would ease our minds and help me be the wife and mother I should be. He told me it would help our children be the sons they should be. He said it was a patch on our flawed human natures.&quot;</p>
<p>Morgan recoiled. <em>Malkuth, I need medical and psychiatric personnel to my location. Whatever Josephson did to the students at St. Hermelin's, he also did to his wife and kids.</em> &quot;Ma'am, where is your husband. It is imperative that I find him.&quot;</p>
<p>&quot;He told me somebody from the Phoenix Society might come, Morgan Stormrider. He told me I am to tell you nothing. He gave me something to use if you do not leave us in peace.&quot; Ms. Josephson finally moved a muscle other than those necessary for speaking, rising from the sofa as she produced a sawed-off shotgun from between the cushions.</p>
<p>Morgan wrenched the weapon from her grip. He reversed the weapon so that its muzzle pointed at her and her children, and withdrew. <em>Malkuth, where the</em> fuck <em>are the medics? Mrs. Stepford here just pulled a sawed-off.</em></p>
<p><em>My request for an ambulance was overridden. An emergency team from Ohrmazd Medical Group is en route. They're trained to deal with people affected by the Patch.</em></p>
<p><em>The Patch, as in the nanotech used just before Nationfall?</em> Cold radiated from Morgan spine, leaching into the rest of his body.</p>
<p><em>Yes.</em> Malkuth paused, and his tone became more formal. <em>Adversary, lethal force is no longer authorized for this mission, by Executive Council order. You must capture Charles Josephson by any means necessary, regardless of risk to yourself or bystanders.</em></p>
<p><em>Change to mission parameters acknowledged.</em> Morgan took a breath, unloaded the shotgun, and threw the weapon aside before putting his glove back on. He continued his search, clearing each room before finding a lockeddoor. Light leaked out from under the door, and the staccato of fingers on a keyboard came from within.</p>
<p>Morgan smiled as he examined the door. It opened outward, and the hinges were sufficiently old-fashioned that he could pull the pins and remove the door.</p>
<p>So absorbed was Dr. Josephson in his work that Morgan removed the door to his study and placed himself behind the teacher without being challenged. He was short and pudgy, but stood ramrod straight at his workstation. Morgan crept closer, drew a knife, and considered making the capture immediately.</p>
<p><em>Can you take a small step to the left, and get a better view over the suspect's shoulder?</em></p>
<p>Morgan blinked, surprised at Malkuth's request. <em>If I bust him now, we can just take his computer.</em></p>
<p><em>He might have countermeasures in place. While he's logged in and viewing the data himself, we can gather evidence. However, I need you to tell me what he's doing. The compression algorithms we use for Witness Protocol preserve facial detail and voices, but are suboptimal for looking at text on a screen over somebody's shoulder.</em></p>
<p><em>You should have somebody fix that. He's got a secure relay chat open in the top left of his screen. All of the handles look like St. Hermelin's email accounts.</em></p>
<p><em>He's chatting with the faculty?</em></p>
<p><em>The bastards are all in on it. One of them is complaining that it has to be re-applied every day. That should prove a comfort to the kids' parents. Another is griping about how unresponsive her husband is when he's patched. Does she mean what I think she means?</em></p>
<p><em>Remember the mission, Adversary. What else does he have on his screen?</em></p>
<p><em>Bottom left looks like documentation for an old nanoassembler's programming language. The right-hand side of the screen is a text editor with a code file, but it looks like there's more commentary than code. A lot of them are signed Aaron Josephson. Malkuth, I think he's working on improvements to the original Patch. He already modified it for topical application, and--wait. He just added a little note: &quot;TODO: research aerosolization&quot;.</em></p>
<p>Several minutes passed before Malkuth's next response. <em>Make the arrest.</em></p>
<p>Morgan caught Dr. Josephson in a half nelson while using his other hand to press the knife's point against the teacher's throat. &quot;Dr. Charles Josephson, I presume.&quot;</p>
<p>&quot;I won't surrender my grandfather's work to you, whoever you are.&quot;</p>
<p>&quot;I'm from the Phoenix Society. You're under arrest for the kidnapping and unlawful confinement of Andy Crosby, and for illegal experiments on your wife, your children, and the students of St. Hermelin's School.&quot; As Morgan began reciting Josephson's rights as a person accused of a crime, the teacher twisted free of Morgan's grip, thrusting a knife of his own into Morgan's thigh. Morgan tore the knife out, and clamped his hands over the wound to control the bleeding as Josephson scrabbled at his keyboard to open a terminal window and type a set of commands that would wipe the computer's data and shut it down. &quot;sudo rm -rf /; shutdown -h now&quot;.</p>
<p>Morgan threw him into the hallway before he could type his password, and cut the power to the old computer. He checked his leg, and found that the bleeding had stopped. He hauled Josephson to his feet and began frog-marching him down the hallway. &quot;The only reason you remain unharmed is that the people paying my salary want to talk to you.&quot;</p>
<h2 id="vi">VI</h2>
<p>Morgan almost dropped the bag containing his gifts to Christabel and Naomi as the former pulled him inside. She did not bother to close the door before pressing him against the nearest wall and kissing him. &quot;I thought you wouldn't make it!&quot;</p>
<p>She kissed him again before he found breath to answer. &quot;I'm sorry. A missing child job turned out to be something much nastier.&quot;</p>
<p>&quot;It's all over newsnet. They say you saved a couple hundred kids and nailed a scientist trying to make a better Patch. Doesn't the Society need you for follow up on the case?&quot;</p>
<p>&quot;Don't worry about that. Besides, I promised I'd come for Solstice. I just hoped to get here <em>before</em> the Solstice, instead of being just in time for Solstice Luncheon.&quot; Morgan pulled free of Christabel's embrace long enough to put aside his bags before drawing her into his embrace and doing a proper job of kissing her. &quot;Did you get some sleep?&quot;</p>
<p>&quot;Some, but I missed you.&quot; Christabel took Morgan's hand and led him into her living room. &quot;Naomi came by for a bit, and we went caroling. Oh, and Edmund Cohen dropped by.&quot;</p>
<p>&quot;What did Eddie want?&quot; A fluffy black kitten with white whiskers, white paws, and white tufts of fur in his ears stuck his head out from between the boughs of the Solstice tree in Christabel's living room, as if answering Morgan's question.</p>
<p>The kitten scrunched himself back, and sprang from the branch. Spreading his limbs as if he were a flying squirrel, he barely landed on Morgan's shoulder, his claws digging into Morgan's armor for purchase. The tips of his whiskers tickled Morgan's ear as the kitten greeted him. &quot;Meow!&quot;</p>
<p>Christabel muffled a sneeze with her handkerchief, and pointed at Morgan's shoulder. &quot;Cohen wanted to drop <em>him</em> off. Said he'd make a good mascot for the band. I'm allergic, and he's broken a dozen ornaments already, but Cohen says he can't keep the little fluff either.&quot;</p>
<p>Morgan turned his head to meet a set of pale blue eyes. &quot;Is that your name? Little Fluff?&quot;</p>
<p>&quot;Meow?&quot; The kitten tapped at the hilt of Morgan's sword where it rose above his shoulder with one of his paws, and rubbed his face against it before doing the same to Morgan. &quot;Mrrrrrr?&quot;</p>
<p>Christabel was smiling as she pocketed her handkerchief. &quot;I think he likes you. He seems to like swords, too. Since he's a little black cat, should we call him Mordred?&quot;</p>
<p>Morgan looked at the kitten. &quot;Christabel thinks your name is Mordred. What do you think?&quot; The kitten's purring seemed to fill the room, so Morgan turned back to Christabel while reaching up to pet Mordred. &quot;I think he likes it.&quot;</p>
<p>&quot;Come on, Mordred. Morgan and I have to go to Naomi's now.&quot; Christabel lifted the kitten from Morgan's shoulder and cuddled him close to her chest before returning him to the floor. &quot;Naomi and I thought it best to keep the presents under her tree, because of our little friend.&quot;</p>
<h2 id="vii">VII</h2>
<p>Naomi waited until Christabel was inside before pointing out the mistletoe to Morgan. Before he could stop her, she stole a kiss. &quot;I heard about the Josephson case. I'm proud of you.&quot;</p>
<p>&quot;Thank you.&quot; Morgan stepped back and offered his bag. &quot;I brought presents.&quot;</p>
<p>A little black kitten stuck his head out, looked at Naomi, and began purring. &quot;I see you brought a friend, too.&quot;</p>
<p>&quot;Mordred! Naughty kitten. You were supposed to stay at Christabel's and break <em>her</em> ornaments.&quot;</p>
<p>Naomi tried to repress a giggle; the necessity of chastising a stowaway kitten brought out a different side to Morgan, one she found comforting. &quot;I don't mind if he breaks a few of mine, as long as he sticks to the ugly ones I put at the bottom of the tree.&quot; She led Morgan inside and let him place his gifts beneath the tree. &quot;Let's have something to eat first, and then we'll exchange gifts.&quot;</p>
<p>&quot;Meow?&quot;</p>
<p>&quot;Our little friend might also be hungry.&quot; Morgan scooped up the cat and placed him on his shoulder before he could push open the kitchen door. &quot;Christabel, when did you last feed Mordred?&quot;</p>
<p>&quot;I think I can find something.&quot; Naomi led Morgan into the kitchen, found an old plate, and retrieved a container of left-over chicken. The kitten began purring as she put the plate down for him, and rubbed against her hand before eating. &quot;He's a well-mannered little cat.&quot;</p>
<p>Christabel slipped her arms around Morgan from behind. &quot;Edmund Cohen said he'd make a good mascot for the band.&quot;</p>
<p>&quot;He's a bit small for that. What will you do with him, Morgan?&quot;</p>
<p>&quot;I'll take him back to New York with me. I'll have to get a carrier and some other supplies, and spring for a private compartment on the maglev home.&quot; Morgan stretched, and peered through the oven door. &quot;What's cooking?&quot;</p>
<p>&quot;I'm just waiting for the lasagna. Everything else is in the dining room, ready to serve.&quot;</p>
<h2 id="viii">VIII</h2>
<p>Morgan stared at the remains of the Solstice dinner that Christabel and Naomi must have spent the last day preparing together, unable to stomach the thought of eating more right now. &quot;This was wonderful, but I dare not eat another bite.&quot;</p>
<p>Christabel rubbed her belly, looking down at herself. &quot;It's all right. At least Nims and I won't have to cook for a few days.&quot;</p>
<p>&quot;I'll pack some for you to take home to New York.&quot; Naomi offered while sipping the last of her wine. &quot;I suppose we should clear the table before we open presents.&quot;</p>
<p>Half an hour later, Naomi and Christabel sat on the ends of the sofa in the living room, watching Mordred while he chased his tail in front of the fire. Morgan retrieved the largest two of the presents he brought, checked the tags, and offered them to his band mates. &quot;I know this isn't much, but I hope they prove useful.&quot;</p>
<p>Christabel got hers open first, and unfolded a long, thin, tightly knit midnight blue cardigan. She slipped into it, looked down at herself to see how it clung to her figure, and pounced on Morgan for a kiss. &quot;Thank you. It's so thin I can layer it under my raincoat, which makes it perfect. Where did you find it?&quot;</p>
<p>Morgan shook his head. &quot;I made it myself.&quot;</p>
<p>&quot;Did you make mine yourself too?&quot; Naomi posed for Morgan and Christabel in a thick red cardigan with a high collar. &quot;I love it. Christabel, these are probably the most thoughtful presents either of us have ever received, and the sizing is perfect.&quot;</p>
<p>&quot;I have a few smaller gifts to go with the cardigans.&quot; Morgan handed the ladies another package each. Naomi opened hers with more enthusiasm than Christabel, and gasped with delight as she held up a pair of fingerless red wool gloves. &quot;These would have been perfect last night while we were caroling. And you made a matching headband to keep my ears warm, too?&quot;</p>
<p>Naomi immediately put it on, the wool matching her eyes, before lifting out a red and black scarf and looping it around her neck three times. Despite her precaution, the ends dangled below her knees. &quot;I think this is long enough to wear on Gallifrey.&quot;</p>
<p>Christabel also tried on her gloves, headband, and scarf, but offered none of the praise she had for the cardigan. Morgan ignored the incipient melancholy inspired by Christabel's reaction and withdrew a last package from his pocket. &quot;Christabel?&quot;</p>
<p>She looked up, and Morgan offered her his last gift. &quot;I thought you might wear this on stage.&quot;</p>
<p>Though Christabel was slow to unwrap her last gift, her unalloyed joy at the sapphire pendant within the box eclipsed the indifference with which she opened her other presents. She seemed to tremble with delight as she held her hair up to let him fasten it around her neck, and kissed him with a passion that suggested he might find her wearing little else later. However, the sight of his friend Naomi curled up on the couch, wrapped in the cardigan he knitted for her and petting Mordred, warmed him in a manner that the prospect of lovemaking later tonight could not.</p>
<p>Christabel's eyes shimmered as she looked up at him. &quot;I'm sorry I was so ungrateful earlier. You realize I love you, don't you?&quot;</p>
<p>&quot;Of course. I love you, too. But we still have more presents to open.&quot;</p>
<p>As they sat down and waited for Naomi to bring them presents, Morgan admitted a truth to himself. <em>Christabel and I aren't right for each other, but we've all invested substantial sums in the album and tour. If I dump Christabel, and break up the band, we all lose. I can't let that happen.</em></p>
